/* 학교 메인 CSS */
.schoolOutDiv{
  min-height: 780px;  
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background: linear-gradient(180deg, #FFF1ED 0%, #E9F5F4 100%);
  
}

.schoolMainDiv {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  margin: auto;
}

.schoolRegisterButton {
  width: 300px;
  height: 60px;
  border: none;
  margin-top: 20px;
  background: linear-gradient(to right, #FFC1AD, #BAE1D9);
  color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  transition: 1s;
}

.schoolRegisterButton:hover {
  background: linear-gradient(to right, rgba(255, 193, 173, 0.8), rgba(186, 225, 217, 0.8));
  
}


/* 학교 검색 모달 CSS */

.schoolText {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.schoolSearchBox{

  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.schoolSearchBox input{
  margin: 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.schoolSearchBox input::placeholder{
  font-size: 14px;
  font-weight: bold;
  color: #a6a6a6;
}
.schoolSearchBox .searchIcon{

  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  text-align: center;

  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  right: 5px;
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-size: 20px;
  background: #7BCDC8;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}

/* 학교 리스트 CSS */
.schoolList {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  padding: 10px;
  margin: 10px;
  border-top: 3px solid  hsl(180, 62%, 55%);  
}

.sidoList {

}

