.chartChangeBtn{
  background-color: #EAF0EF;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.radioUlClass label {
  cursor: pointer;
}
.radioLiClass input:checked + label {
  color: inherit;
}
.radioLiClass input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.radioUlClass {
  display:inline-flex;
  padding:.25rem;
  font-weight:600;
  border-radius:15px;
  --bg-opacity:1;background-color:#EAF0EF;background-color:rgba(234, 240, 239,var(--bg-opacity));
  --text-opacity:1;color:#ffffff;color:rgba(255,255,255,var(--text-opacity));
  margin-top:1rem;margin-bottom:1rem;

  width: 85%;
}

.radioLiClass {
  display:flex;
}

.radioClass {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border-width:0;
}

.radioLabelClass {
  width: 60px;
  padding-top:.25rem;
  padding-bottom:.25rem;
  padding-left:.5rem;
  padding-right:.5rem;
  font-size:.875rem;
  line-height:1.5rem;
  --text-opacity:1;color:#718096;color:rgba(113,128,150,var(--text-opacity));
  --bg-opacity:1;background-color:#276E6A;background-color:rgba(39, 110, 106,var(--bg-opacity));
  border-radius:50px;
  box-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
}
.radioLabelClass:hover {
  --text-opacity:1;color:#2d3748;color:rgba(45,55,72,var(--text-opacity))
}

.radiobox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.infobox{
  display: flex;
  margin-top: 1.8rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.info{
  color: #929E9E;
  margin-bottom: 0.5rem;
}
.hrline2{
  height: 15px;
  background-color: #EAF0EF;
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.hrline{
  height: 30px;
  background-color: #EAF0EF;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  position: relative;
  top: -20px;
}
.hrline3{
  height: 15px;
  background-color: #EAF0EF;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  position: relative;
  top: -20px;
}
.line{
  border: #EAF0EF 1px solid;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.back{
  margin-top: 2rem;
  margin-left: 1rem;
}
.rowbox{
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-items: center;
}
.radio{
  display: flex;
  /* margin-left: 2.2rem; */
  width: 80%;
  max-width: 600px;
  align-items: center;
  margin: auto;
}
.imgrowbox{
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
  align-items: center;
}
.ind{
  width: 20px;
}
.today{
  font-weight: 600;
  font-size: 18px;
  margin-right: 0.5rem;
}
.infotxt{
  font-weight: 600;
  font-size: 18px;
}
.weather{
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-direction: column;
}
.space{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
}
.subctn1graph{
  /* margin: auto; */
  margin-top: 3rem;
}
.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  font-weight: 600;
}
.green{
  font-weight: 600;
  color: #41b7b0;
  margin-left: 0.5rem;
}
.repre{
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  margin: 1.5rem 1.5rem 3.2rem 1.5rem;
  background: #f9f9f9;
  border: 0.5px solid #c8d3d3;
  border-radius: 10px;
  font-weight: 600;
}
.upcoltex{
  color: #dd4956;
  font-size: 18px;
  margin-left: 0.5rem;
}
.downcoltex{
  color: #2795ff;
  font-size: 18px;
  margin-left: 0.5rem;
}
.news{
  font-size: 12px;
  margin-left: 10px;
  font-weight: 400;
  color: #929e9e;
}
.weatherbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 88px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.wimg{
  height: 40px;
}
.perc{
  color: #929e9e;
  font-size: 12px;
}
.script{
  color: #929e9e;
  font-size: 14px;
  margin-top: 3px;
  /* margin-top: 0.5rem; */
}
.edge{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.smbox{
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  font-size: 14px;
}
.parent{
  background: #FEFAF0;
  border: 0.5px solid #FEBF45;
  border-radius: 5px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  margin-right: 0.7rem;
  margin-top: 0.7rem;
}
.boxes{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.onlybuy{
  width: 100%;
  height: 54px;
  color: #fff;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background: #FECE6D;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
}
.sell{
  width: 180px;
  height: 54px;
  color: #fff;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 5px;
  background: #7BCDC8;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy{
  width: 180px;
  height: 54px;
  color: #fff;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 5px;
  background: #FECE6D;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.onlysellbuy{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: linear-gradient(to top, white, white 50%, transparent);
}
.greenbox{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.sellbuy{
  position: fixed;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, white, white 50%, transparent);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.fixbox{
  display: flex;
  margin-top: 1.3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.3rem;

  /* margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem; */
  justify-content: space-between;
}
.fix{
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  top: 0;
  box-shadow: 0px 1px 2px 1px rgba(148, 148, 148, 0.25);
}
.topline{
  border: #EAF0EF 1px solid;
}
.big{
  font-size: 24px;
  font-weight: 600;
}

.stkdtctn{
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding-top: 30px;

}

.stkdtbg {
  background-color: #EAF0EF ;
  position: relative;
  top: -29px;
  min-height: 100vh;
  height: 100%;
}

.testtest{
  margin-top: 1rem;
  margin-left: 2.4rem;
  /* margin: auto; */
  /* display: flex;
  justify-content: center; */
}

.dtctntitle{
  margin-left: 40px;
  margin-right: 1.5rem;
  margin-top: 8rem;
}

.dtsub1{
  margin-bottom: 50px;
  background-color: white;

}

.epsper{
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.explainbox {
  margin-top: 20px;
  padding: 5px;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  background-color: #EAF0EF60;
  border-radius: 10px;
}

.buysell {
  position: fixed;
  bottom: 0;
  z-index: 1;
  max-width: 640px;
  width: 100%;  
  text-align: center;
  height: 58px;
  margin-bottom: 5px;
  /* background-color: #ffffff95; */
}

.buttons {
  display: flex;
  justify-content: center;

  
}

.buysellbutton {
  width: 48%;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: none;
}

.sellbutton {
  width: 96%;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #FECE6D;

}

.sellbutton {
  width: 96%;
  height: 54px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #B4BEBE;
}
.flexrow{
  display: flex;
  font-weight: 600;
  font-size: 14px;
}
.red{
  color: #DD4956;
}
.blue{
  color: #2795FF;
}
.minmaxbox{
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 12px;
  color: #929E9E;
}
.title{
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.yellowbox{
  margin-top: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
}
.graybox{
  margin-top: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  font-weight: 600;
  font-size: 14px;
}
.biggraybox{
  margin-top: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  font-weight: 600;
  font-size: 14px;
}
.candleimg{
  height: 80px;
  margin-left: 1rem;
}
.txts{
  width: 100%;
  margin-right: 0.5rem;
}
.changebtn{
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-top: 1rem;
}