.quizBG {
  background: linear-gradient(180deg, #FBF7F0 0%, #F2FFF8 100%); 
  width: 100vw; 
  height: 100vh;
  padding-top: 1.3rem;
}

.quizCtn {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.quizCtnNv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  width: 90%;
  padding-left: 18px;
  margin-bottom: 8px;
}

.quizbox {
  max-width: 500px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 60px 30px 60px 30px;

  text-align: center;

}

.quizQ {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 80px;
}

.quizEx {
  border: 0.5px solid transparent;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(#FFFEFC, #FFFEFC), linear-gradient(to right, #FEBF45 , #7BCDC8 );
  /* border-color: linear-gradient(91.95deg, #FEBF45 0%, #7BCDC8 100%); */
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  color: #276E6A;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

}

.quizEx:hover {
  transform: scale(1.01); 
  transition: transform .5s; 
  background-image: linear-gradient(#fffcf7, #f2fcf7), linear-gradient(to right, #FEBF45 , #7BCDC8 );
}


.fontani {
  text-transform: uppercase;
 background-image: linear-gradient(
   -225deg,
   #231557 0%,
   #44107a 29%,
   #ff1361 67%,
   #fff800 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
     font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.quizres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 32px;
}

.quizdon {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.waviy {
  position: relative;
}
.waviy .waviyone {
  position: relative;
  display: inline-block;
  color: #ff1361;
  text-transform: uppercase;
  animation: flip 1.7s infinite;
  /* animation-delay: calc(.2s * var(--i)) */
}
.waviy .waviyone:nth-child(1) { animation-delay: .1s }
.waviy .waviyone:nth-child(2) { animation-delay: .3s}
.waviy .waviyone:nth-child(3) { animation-delay: .5s }
.waviy .waviyone:nth-child(4) { animation-delay: .7s }
.waviy .waviyone:nth-child(5) { animation-delay: .9s }
.waviy .waviyone:nth-child(6) { animation-delay: 1.1s}
.waviy .waviyone:nth-child(7) { animation-delay: 1.3s }
.waviy .waviyone:nth-child(8) { animation-delay: 1.5s }
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.waviynone {
  color: 3E3E3E;
  margin-left: 5px;
  font-weight: 600;
}

.quizresbox {
  max-width: 500px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 60px 40px 60px 40px;
  margin-right: 0px;
  margin: auto;
  margin-top: 30px;
}

.quizans {
  border: 0.5px solid transparent;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(#fffcf7, #f2fcf7), linear-gradient(to right, #FEBF45 , #7BCDC8 );
  /* border-color: linear-gradient(91.95deg, #FEBF45 0%, #7BCDC8 100%); */
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  color: #276E6A;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}