.limitOrderCard {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.bodybox{
margin: 1.5rem;
}
.imgs{
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  margin-left: 1rem;
}
.nametag{
  display: flex;
  align-items: center;
  font-weight: 600;
}
.arrow{
  margin-left: 1rem;
  margin-right: 1rem;
}
.editbox{
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 2rem;
  color: #929e9e;
  align-items: center;
}
.favorite{
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #000;
}
.listbox{
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}
.star{
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
.lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 18px;
}
.hrline{
  border: #EAF0EF 1px solid;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
}
.nowpr{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #929e9e;
  font-weight: 600;
  font-size: 12px;
}
.logo{
  width: 48px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-items: center;
}
.tabs{
  margin-left: 0.5rem;
}
.eleslists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 18px;
}