.myHistoryCard {
  width: 100%;
  height: 48px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: none;
}
.formbox{
  width: 78%;
}
.imgs{
  width: 24px;
}
.calender{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dateipt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag{
  width: 90%;  display: flex;
  justify-content: center;
}
.wrap{
  width: 32%;
  font-size: 14px;

}
.namebox{
  display: flex;
  margin-left: 1.5rem;
  align-items: center;
}
.search{
  border: none;
  border-radius: 5px;
  background: #d9d9d9;
  width: 40px;
  font-weight: 500;
}
.pricebox{
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
  font-weight: 600;
  color: #929E9E;
}
.listbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section{
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
}
.stname{
  font-weight: 600;
}